# Base URL of app
NEXT_PUBLIC_SITE_URL="http://localhost:3000"

# Admin User's username
NEXT_PUBLIC_ADMIN_USERNAME="sudipbiswas"

# Neon DB URL
DATABASE_URL=""

# Auth Secret -> openssl rand --base64 32
AUTH_SECRET=""
# OAuth credentials from console.cloud.google.com
AUTH_GOOGLE_ID=""
AUTH_GOOGLE_SECRET=""

# Resend API Key
RESEND_API_KEY=""
# Resend configured domain
NEXT_PUBLIC_RESEND_DOMAIN=""

# Vercel KV - Upstash Redis
KV_URL=""
KV_REST_API_URL=""
KV_REST_API_TOKEN=""
KV_REST_API_READ_ONLY_TOKEN=""
REDIS_URL=""

# Uploadthing
UPLOADTHING_TOKEN=""
