@import "tailwindcss";
@import "tw-animate-css";

@import "uploadthing/tw/v4";
@source "../node_modules/@uploadthing/react/dist";

@theme inline {
  --font-manrope: var(--font-manrope);
  --font-geist-mono: var(--font-geist-mono);
  --font-lora: var(--font-lora);
  --font-inter: var(--font-inter);
  --font-geist: var(--font-geist);
  --font-merriweather: var(--font-merriweather);
  --font-bricolage-grotesque: var(--font-bricolage-grotesque);
  --font-montserrat: var(--font-montserrat);
  --font-open-sans: var(--font-open-sans);
  --font-roboto: var(--font-roboto);
  --font-roboto-mono: var(--font-roboto-mono);
  --font-poppins: var(--font-poppins);
  --font-space-mono: var(--font-space-mono);
  --font-space-grotesk: var(--font-space-grotesk);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-warning: var(--warning);
  --color-warning-foreground: var(--warning-foreground);
  --color-success: var(--success);
  --color-success-foreground: var(--success-foreground);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --color-foreground: var(--foreground);
  --color-background: var(--background);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 0.725rem;
  --background: oklch(1 0 0); /* White */
  --foreground: oklch(0.145 0 0); /* Neutral 950 */
  --card: oklch(1 0 0); /* White */
  --card-foreground: oklch(0.145 0 0); /* Neutral 950 */
  --popover: oklch(1 0 0); /* White */
  --popover-foreground: oklch(0.145 0 0); /* Neutral 950 */
  --primary: oklch(0.53 0.22 285.75);
  --primary-foreground: oklch(0.985 0 0); /* Zinc 50 */
  --secondary: oklch(0.95 0 0);
  --secondary-foreground: oklch(0.205 0 0); /* Neutral 900 */
  --muted: oklch(0.95 0 0); /* Neutral 100 */
  --muted-foreground: oklch(0.556 0 0); /* Neutral 500 */
  --accent: oklch(0.95 0 0); /* Neutral 100 */
  --accent-foreground: oklch(0.205 0 0); /* Neutral 900 */
  --destructive: oklch(0.577 0.245 27.325); /* Red 600 */
  --warning: oklch(0.96 0.06 96); /* Amber 100 */
  --warning-foreground: oklch(0.67 0.16 58); /* Amber 600 */
  --success: oklch(0.96 0.04 157); /* Green 100 */
  --success-foreground: oklch(0.63 0.17 149); /* Green 600 */
  --border: oklch(0.89 0 0);
  --input: oklch(0.89 0 0);
  --ring: oklch(0.53 0.22 285.75);
  --chart-1: oklch(0.646 0.222 41.116); /* Orange 600 */
  --chart-2: oklch(0.6 0.118 184.704); /* Teal 600 */
  --chart-3: oklch(0.398 0.07 227.392); /* Cyan 900 */
  --chart-4: oklch(0.828 0.189 84.429); /* Amber 400 */
  --chart-5: oklch(0.769 0.188 70.08); /* Amber 500 */
  --sidebar: oklch(0.985 0 0); /* Zinc 50 */
  --sidebar-foreground: oklch(0.145 0 0); /* Neutral 950 */
  --sidebar-primary: oklch(0.53 0.22 285.75);
  --sidebar-primary-foreground: oklch(0.985 0 0); /* Zinc 50 */
  --sidebar-accent: oklch(0.95 0 0); /* Neutral 100 */
  --sidebar-accent-foreground: oklch(0.205 0 0); /* Neutral 900 */
  --sidebar-border: oklch(0.89 0 0);
  --sidebar-ring: oklch(0.708 0 0); /* Neutral 400 */
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  html {
    @apply h-full not-motion-reduce:scroll-smooth;
  }
  body {
    @apply min-h-full bg-background text-foreground;
  }
  .heading_primary {
    @apply text-3xl font-semibold tracking-tight leading-tight;
  }
  .heading_secondary {
    @apply text-2xl font-semibold tracking-tight leading-tight;
  }
  .description {
    @apply font-medium text-muted-foreground leading-tight text-base;
  }
}
